.title {
    text-align: center;

    h1 {
        font-size: 5rem;
        color: rgb(219, 219, 219);
        font-family: @title-font;

        span:nth-of-type(odd) {
            font-family: @header-font;
        }
    }
}