.title {
  border: 1px solid red;
  text-align: center;
  margin-bottom: 2rem;
}
.title h1 {
  font-size: 5rem;
  color: white;
  font-family: 'Cormorant Garamond', serif;
}
.title h1 span:nth-of-type(odd) {
  font-family: 'Exo', sans-serif;
}
.card {
  border: 1px solid red;
  border-radius: 10px;
}
.App {
  background: #0a0a0a;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
